%p#mission-statement
  The founding purpose of Ruby India is to build a strong, organized and open community around Ruby programming language and its related technologies, and to further its use and adoption in India. 

%section#meetups
  %h3 Meetups
  %p
    There are a number of regional Ruby-related meetups all over the country.
    Each group is organised independently by its members, and all are very
    welcoming to newcomers. The following groups meet regularly:

  %ul.meetup-locations
    %li
      %a#adl{href: '/meetups/adl.html'} Bangalore
    %li
      %a#bne{href: '/meetups/bne.html'} Pune
    %li
      %a#can{href: '/meetups/can.html'} Delhi NCR
    %li
      %a#mel{href: '/meetups/mel.html'} Hyderabad
    %li
      %a#per{href: '/meetups/per.html'} Chennai
    %li
      %a#syd{href: '/meetups/syd.html'} Kochi

%section#railscamp
  %h3 Rails Camp
  %p
    Ruby India is the organising body of Indian Rails Camp events.
    Please see the official <a href="http://railscamp.rubyin.org">Rails Camp India</a> site
    for more details.

%section
  %h3 Join Ruby India
  %p
    Joining Ruby India is free. <a href="/join-ruby-australia.html">Join!</a>

  %h3 Contributing to the site
  %p
    The site's source is hosted on Github:
    <a href="https://github.com/chetanmittal/rubyin.org">https://github.com/chetanmittal/rubyin.org</a>.  Please refer to the <a href="https://github.com/chetanmittal/rubyin.org#readme">README</a> there for more details.
