%p#mission-statement
  The founding purpose of Ruby India is to build a strong, organized and open community around Ruby programming language and its related technologies, and to further its use and adoption in India. 

%section#meetups
  %h3 Meetups
  %p
    There are a number of regional Ruby-related meetups all over the country.
    Each group is organised independently by its members, and all are very
    welcoming to newcomers. The following groups meet regularly:

  %ul.meetup-locations
    %li
      %a#bng{href: '/meetups/bng.html'} Bangalore
    %li
      %a#pun{href: '/meetups/pun.html'} Pune
    %li
      %a#del{href: '/meetups/del.html'} Delhi NCR
    %li
      %a#hyd{href: '/meetups/hyd.html'} Hyderabad
    %li
      %a#chn{href: '/meetups/chn.html'} Chennai
    %li
      %a#koc{href: '/meetups/koc.html'} Kochi

%section#railscamp
  %h3 Rails Camp
  %p
    Ruby India is the organising body of Indian Rails Camp events.
    Please see the official <a href="http://railscamp.rubyin.org">Rails Camp India</a> site
    for more details.

%section
  %h3 Join Ruby India
  %p
    Joining Ruby India is free. <a href="/join-ruby-india.html">Join!</a>

  %h3 Contributing to the site
  %p
    The site's source is hosted on Github:
    <a href="https://github.com/rubyindia/rubyin.org">https://github.com/rubyindia/rubyin.org</a>.  Please refer to the <a href="https://github.com/rubyindia/rubyin.org#readme">README</a> there for more details.
