%section
  %h3 Bangalore Ruby

  %article
    %h4 Next Meetup
    %p TBA
    %p Presentations:
    %ul
      %li TBA

  %article
    %h4 Organisers
    %p Sidu Ponappa (<a href="http://twitter.com/siduponappa">@siduponappa</a>) and Hemant (<a href="http://twitter.com/gnufied">@gnufied</a>).

  %article
    %h4 Schedule
    %p To find out more about the Bangalore Ruby group, visit <a href="http://bangaloreruby.org">Bangalore Ruby User Group</a>.
