%section
  %h3 Chennai

  %article
    %h4 Next Meeting
    %p None upcoming (see Organisers)
    %p Presentations:
    %ul
      %li TBA

  %article
    %h4 Organisers
    %p There are currently no active organizers for the Chennai group - If you're interested in organising it, please drop an email to rubyindorg@gmail.com

  %article
    %h4 Schedule
    %p For more information about Chennai Ruby meetups, visit <a href="http://www.chennairuby.org/">Chennai Ruby User Group</a>.


