%section
  %h3 Delhi NCR

  %article
    %h4 Next Meetup
    %p TBA
    %p Presentations:
    %ul
      %li TBA

  %article
    %h4 Organisers
    %p Whoami (<a href="http://twitter.com/whoami">@whoami</a>).

  %article
    %h4 Schedule
    %p For more information about Delhi Ruby meetups, visit <a href="http://delhiruby.org/">Delhi Ruby User Group</a>.
